doctype html
html
    head
        title REGISTER
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
        style
            include ../../node_modules/@fortawesome/fontawesome-free/css/all.css
            include style/css/add.css
    include navbar
    body
        div(class="modal-dialog text-center")
            div(class="col-sm-8 main-section")
                h1(class="mytitle" style="padding-bottom:0px") Wine Lister
                h1(class="mytitle" style="font-size:20px;padding-bottom:40px") Ajout d'un vin
                div(class="modal-content")
                    div(class="col-12 user-img")
                        img(src="vine.png", alt="")
                    form(class="col-12" action="/vin/add",method="POST")
                        div(class="form-group")
                            i(class="fas fa-wine-bottle test")
                            input(type="text" class="form-control" placeholder="Nom" name="name" required)
                        div(class="form-group")
                            i(class="fas fa-glass-cheers test")
                            input(type="text", name="description", class="form-control" placeholder="Description" required)
                        div(class="form-group")
                            i(class="fas fa-sort-numeric-up-alt test")
                            input(type="number", name="quantity", class="form-control" placeholder="0" min="0" required)
                        button(type="submit" class="btn" style="padding: 7px 0px")
                            i(class="fas fa-sign-in-alt") Ajouter
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous")
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>