doctype html
html
    head
        title Page d'accueil
        style
            include style/css/test.css
    include navbar
    body
        h1  You are connected 🍷
        form(action="/add", method="GET")
            button(type="submit") Ajouter un vin
        form(action="/logout", method="POST")
            button(type="submit") se deconnecter
        form(action="/", method="GET")
            button(type="submit") Accueil
        each item in Vines
            span= item.Name
            li= item.Description
            li= item.Quantity
            p