doctype html
html
    head
        title LOGIN
    body
    include navbar
        p Bienvenue sur la page de connexion 🍷
        form(action="/post",method="POST" )
            input(type="text",value="user",name="prenom" )
            input(type="text", value="password",name="password")
            button(type="submit", class="myButton") Se connecter
